<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.username">acsi_oracle</property>
        <property name="hibernate.connection.password">acsi_oracle</property>
        <property name="hibernate.connection.url">jdbc:Oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>

        <property name="format_sql">true</property>
        <property name="show_sql">true</property>
        <property name="connection.pool_size">1</property>

        <mapping class="com.epsi.entities.Admin" />
        <mapping class="com.epsi.entities.Article" />
        <mapping class="com.epsi.entities.People" />
        <mapping class="com.epsi.entities.Tour" />
        <mapping class="com.epsi.entities.Visitor" />
        <mapping class="com.epsi.entities.Watch" />
    </session-factory>
</hibernate-configuration>